body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../media/vormir.jpg");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;

}

.topnav {
  overflow: hidden;
  background-color: #460000;
  top: 0px;
  position:fixed;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f7dcdc;
  color: black;
}

.topnav a.active {
  background-color: #ce3d50;
  color: white;
}

.content {
	overflow: hidden;
  margin: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.search,.select {
  font-size: 25px;
  text-align: center;
}

button {
  font-size: 20px;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

select {
  font-size: 20px;
}

.divider {
  width: 50px;
  height: auto;
  display: inline-block;
}

.button0 {
  background-color: #ad088f;
  color: white;
}

/*

.button1,.button2,.button3 {
  background-color: #0318bb;
  color: white;
}

.button1:hover,.button2:hover,.button3:hover {
  background-color: #00e5ff;
  color: black;
}

*/

#dc {
  display: none;
}



#personID {
  width: 250px;
  height: 20px;
}

.uni {
  font-size: 25px;
}
