/*
.navy{
	overflow: hidden;
	background-color: black;}
.navy p,a{
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;}
.navy p{float: left;
	color: #f2f2f2}
.navy a{float: right;
	color: red;}
.navy a:hover{
	background-color: red;
	color: black;}*/
