<div class="navy">
	<p>DCEU MCU DB</p>
	<a class="link" href="/private/"> My Account</a>
</div>
<h1>Hello There!</h1>
<main>
    <p>Login with your credentials below.</p>
	<form id="login-form" method="POST" action="/login">
		<label for="username">Username:</label><br>
		<input type="text" name="username" id="username"/><br><br>
		<label for="password">Password:</label><br>
		<input type="password" name="password" id="password"/><br><br>
		<button type="submit">Submit</button>
	</form>
</main>
