<div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/home/settings">Settings</a>
          <a href="/home/logout">Logout</a>
</div>
<div class="content">
	<h1>Search for a Character</h1>
	<hr>
	<br><br>
	<form method="POST" action="/search" class="search">
		<label for="personID">Who are you looking for?</label>
		<input type="text" name="personName" id="personID">
		<button class="button0" type="submit">Search</button>
	</form>
	<br><br>
	<div class="select">
	<p>Select Universe: </p>
	<select class="uni">
	  <option id="marvel">Marvel</option>
	  <option id="dc">DC</option>
	</select>
	<br><br>
	<p>Filters: </p>
	<input type="radio" id="name" name="drone" value="name" checked>
  	<label for="name">Name (Default)</label>
	<div class="divider"></div>
	<input type="radio" id="power" name="drone" value="power">
  	<label for="power">Power</label>
	<select>
	  <option id="volvo">Volvo</option>
	  <option id="saab">Saab</option>
	  <option id="mercedes">Mercedes</option>
	  <option id="audi">Audi</option>
	</select>
	<div class="divider"></div>
	<input type="radio" id="movie" name="drone" value="movie">
  	<label for="movie">Movie</label>
	<select id="mcu">
	  <option id="Iron_Man">Iron Man</option>
	  <option id="Hulk">The Incredible Hulk</option>
	  <option id="Iron_Man2">Iron Man 2</option>
	  <option id="Thor">Thor</option>
	  <option id="First_Avenger">Captain America: The First Avenger</option>
	  <option id="Avengers">Marvel's The Avengers</option>
	  <option id="Iron_Man3">Iron Man 3</option>
	  <option id="Dark_World">Thor: The Dark World</option>
	  <option id="Winter_Soldier">Captain America: The Winter Soldier</option>
	  <option id="Guardians">Guardians of the Galaxy</option>
	  <option id="Avengers2">Avengers: Age of Ultron</option>
	  <option id="Ant-Man">Ant-Man</option>
	  <option id="Civil_War">Captain America: Civil War</option>
	  <option id="Doctor_Strange">Doctor Strange</option>
	  <option id="Guardians2">Guardians of the Galaxy Vol. 2</option>
	  <option id="Spider-Man">Spider-Man: Homecoming</option>
	  <option id="Ragnarok">Thor: Ragnarok</option>
	  <option id="Black_Panther">Black Panther</option>
	  <option id="Infinity_Wars">Avengers: Infinity Wars</option>
	  <option id="Ant-Man2">Ant-Man and the Wasp</option>
	  <option id="Captain_Marvel">Captain Marvel</option>
	  <option id="Endgame">Avengers: Endgame</option>
	</select>
	</div>
	<br><br><br><br><br><br><br><br><br><br>

</div>
