<div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/settings">Settings</a>
          <a href="/logout">Logout</a>
</div>
<div class="content">
	<h1>Search for a Character</h1>
	<hr>
	<br><br>
	<form class="search" method="post" action="/search" id="search">
		<label for="personID">Who are you looking for?</label>
		<input type="text" name="personName" id="personID">
		<input type="hidden" name="universe">
		<input type="hidden" name="selectedRadioType">
		<input type="hidden" name="selectedRadioValue">
		<button class="button0" type="submit">Search</button>
	</form>
	<p id="error"></p>
	<div class="select">
	<p>Select Universe: </p>
	<select class="uni">
	  <option>Marvel</option>
	  <option>DC</option>
	</select>
	<br><br>
	<p>Filters: </p>
	<form id=myForm>
		<input type="radio" id="name" name="radioName" value="name" checked>
	  	<label for="name">Name (Default)</label>
		<div class="divider"></div>
		<input type="radio" id="power" name="radioName" value="power">
	  	<label for="power">Power</label>
		<select id="power" class="Power">
		  <option>Agility</option>
          <option>Asgardian</option>
          <option>Atlantean</option>
          <option>Boomerang</option>
          <option>Detective</option>
          <option>Eye lasers</option>
          <option>Finger-snapping</option>
          <option>Flight</option>
          <option>Foresight</option>
          <option>Frost breath</option>
          <option>God of thunder</option>
          <option>Goes up Thanos' big purple peach</option>
          <option>Heat powers</option>
          <option>Heightened senses</option>
          <option>Hydrokinesis</option>
          <option>Intelligence</option>
          <option>Kryptonian</option>
          <option>Levitation</option>
          <option>Lightning</option>
          <option>Magic</option>
          <option>Mjolnir</option>
          <option>Projectiles</option>
          <option>Pyrokinesis</option>
          <option>Resilience</option>
          <option>Shrinking</option>
          <option>Skilled archer</option>
          <option>Skilled sorcerer</option>
          <option>Skilled fighter</option>
          <option>Space helmet</option>
          <option>Super speed</option>
          <option>Super strength</option>
          <option>Telekinesis</option>
          <option>Teleportation</option>
          <option>Wall climbing</option>
		</select>
		<div class="divider"></div>
		<input type="radio" id="movie" name="radioName" value="movie">
	  	<label for="movie">Movie</label>
		<select id="mcu" class="mcu">
		  <option>Iron Man</option>
		  <option>The Incredible Hulk</option>
		  <option>Iron Man 2</option>
		  <option>Thor</option>
		  <option>Captain America: The First Avenger</option>
		  <option>Marvel's The Avengers</option>
		  <option>Iron Man 3</option>
		  <option>Thor: The Dark World</option>
		  <option>Captain America: The Winter Soldier</option>
		  <option>Guardians of the Galaxy</option>
		  <option>Avengers: Age of Ultron</option>
		  <option>Ant-Man</option>
		  <option>Captain America: Civil War</option>
		  <option>Doctor Strange</option>
		  <option>Guardians of the Galaxy Vol. 2</option>
		  <option>Spider-Man: Homecoming</option>
		  <option>Thor: Ragnarok</option>
		  <option>Black Panther</option>
		  <option>Avengers: Infinity Wars</option>
		  <option>Ant-Man and the Wasp</option>
		  <option>Captain Marvel</option>
		  <option>Avengers: Endgame</option>
		</select>
		<select id="dc" class="dc">
		  <option>Man of Steel</option>
		  <option>Batman v Superman: Dawn of Justice</option>
		  <option>Suicide Squad</option>
		  <option>Wonder Woman</option>
		  <option>Justice League</option>
		  <option>Aquaman</option>
		  <option>Shazam!</option>
		</select>
	</form>
	<ul id="results">
	</ul>
	</div>
	<br><br><br><br><br><br><br><br><br><br>

</div>
