<div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/settings">Settings</a>
		  <a href="/logout">Logout</a>
</div>
<div class="content">
<h1>Results For: "{{name}}"</h1>
    <ul>
    {{#each result}}
        <li>
            <a href="/details/{{_id}}">{{name}}<br>{{altEgo}}</a>
        </li>
    {{/each}}
    </ul>
</div>
