<div class="topnav">
	<a href="/">Home</a>
	<a class="active" href="/home/settings">Settings</a>
 	<a href="/home/logout">Logout</a>
</div>
<div class="content">
<h1>Details</h1>
{{#each person}}
	<ul>
		<li>Username: {{username}}</li>
		<li>Favorite Character: {{favChar}}</li>
	</ul>

</div>
